# Django Config
SECRET_KEY="<SECRET_KEY>"
DEBUG="<TRUE_OR_FALSE>"
ALLOWED_HOSTS="<HOSTS_COMMA_SEPARATED_OR_*>"

API_KEY="<API_KEY>"

# Main Database Config
DATABASE_HOST="<DB_HOST>"
DATABASE_PORT="<DB_PORT>"
DATABASE_USER="<DB_USER>"
DATABASE_PASSWORD="<DB_PASSWORD>"
DATABASE_NAME="<DB_NAME>"
DATABASE_SCHEMA="<DB_SCHEMA>"

# OpenAI Config
OPENAI_API_KEY="<OPENAI_API_KEY>"
OPENAI_MODEL="<OPENAI_MODEL>"
OPENAI_MAX_RETRIES="<OPENAI_MAX_RETRIES>"
OPENAI_DEFAULT_TEMPERATURE="<OPENAI_DEFAULT_TEMPERATURE>"
OPENAI_STT_MODEL="<OPENAI_STT_MODEL>"
OPENAI_DEFAULT_ERROR_MESSAGE="<OPENAI_DEFAULT_ERROR_MESSAGE>"
OPENAI_EMBEDDING_MODEL="<OPENAI_EMBEDDING_MODEL>"

# Pinecone / RAG
PINECONE_API_KEY="<PINECONE_API_KEY>"
PINECONE_INDEX_NAME="<PINECONE_INDEX_NAME>"
RAG_TOP_K="<RAG_TOP_K>"

# LangSmith
LANGSMITH_TRACING="<TRUE_OR_FALSE>"
LANGSMITH_ENDPOINT="<LANGSMITH_ENDPOINT>"
LANGSMITH_PROJECT="<LANGSMITH_PROJECT>"
LANGSMITH_API_KEY="<LANGSMITH_API_KEY>"

# Twilio
TWILIO_ACCOUNT_SID="<TWILIO_ACCOUNT_SID>"
TWILIO_AUTH_TOKEN="<TWILIO_AUTH_TOKEN>"

# Gmail / Email
RECEIVED_EMAIL="<RECEIVED_EMAIL>"
GMAIL_TOKEN_FILE="<GMAIL_TOKEN_FILE>"
GMAIL_CREDENTIALS_FILE="<GMAIL_CREDENTIALS_FILE>"
